/* SPDX-License-Identifier: Apache-2.0 */
#include <zephyr/dt-bindings/clock/ch32v20x_30x-clocks.h>
/ {
	soc {
		zephyr_udc0: usb@50000000 {
			compatible = "wch,ch32v203-usbfs";
			reg = <0x50000000 0x1000>;
			interrupts = <59 0>;
			interrupt-parent = <&pfic>;
			clocks = <&rcc CH32V20X_V30X_CLOCK_OTG_FS>;
			maximum-speed = "full-speed";
			wch,pll-frequency = <144000000>;
			wch,disable-sdi;
			status = "okay";
		};
	};
};
